# Ignorar executáveis e pastas de bibliotecas
ffmpeg.exe
ffprobe.exe
yt-dlp-*/
ffmpeg-*/
__pycache__/

# Ignorar arquivos de controle local
links.txt
archive.txt
historico.json

# Ignorar mídias baixadas e capas
Downloads/
*.mp3
*.mp4
*.webm
*.jpg
*.png